body {
    background-color: #344799 !important;
    height: 100vh;
}

/*==================== SIDEBAR ====================*/

nav {
    display: flex;
    flex-direction: column;
    background-color: #344799;
    position: fixed;
    line-height: 30px;
    height: 100vh;
    width: 17.5%;
    text-decoration: none;
    color: #C6C6C6;
    flex-shrink: 0;
    z-index: 1;
}

.off-screen-menu.active {
    left: 0;
}

@media only screen and (max-width: 1199px){
    nav {
        width: 100%;
        left: -100%;
    }
}

.bh-logo {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 30px;
}

.navigation-tabs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-out {
    margin-top: auto;
    padding-bottom: 30px;
}

.navigation-tabs span, .sign-out span{
    vertical-align: middle;
}

.navigation-tabs img ,.sign-out img{
    margin: auto 0;
    height: 20px;
    width: 20px;
}

.class-align-tabs{
    display: flex;
    padding-left: 25px;
    padding: 5px 5px 5px 25px;
    margin: clamp(0.5rem, 1vh, 6rem) 0;
}

.class-align-tabs-active {
    background-color: #ff8500;
    border-left: white solid 10px;
    color: white;
}

.paddingleft{
    margin: auto 0;
    padding-left: 15px;
    font-size: 18px;
}




/*==================== CONTENT ====================*/

.container-xxl {
    position: relative;
    background-color: white;
    height: auto;
    border-radius: 13px;
    padding: 2rem;
}

.page-header {
    color: #344799;
    font-size: clamp(2rem, 3vw, 6rem);
    line-height: 20px;
    font-weight: bold;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 20px 0px;
}

.left-content {
    align-self: flex-start; 
    margin-top: 5px;
}
.current-residents {
    margin-bottom: 5px;
}
.left-content-button{
    display: flex;
    justify-content: start;
    gap: 13px;
    height: 45px;
    margin: 20px 0;
}
.left-content button{
    width: 130px;
    background-color: #344799; 
    color: white;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: clamp(0.65rem, 2.5vw, 1rem);
    padding: 25px 0px;
}
.left-content img{
    height: 40px;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-residents {
    margin-bottom: 5px; 
}

.right-child {
    display: flex;
    align-items: center;
}

.right-child img {
    height: 80px; 
    margin-right: 5px; 
}

.right-child div {
    font-size: 30px; 
    color: #344799; 
}

/*Table area css*/
.data-container{
    background: #EDF6F7;
}

.upper{
    display: flex;
    justify-content: space-between;
}

.leftside-content{
    width: 50%;
    display: flex;
    align-items: center;
}
.text-color{
    color: rgba(2, 67, 154, 0.50);
}
.rightside-content{
    width: 50%;

}

@media only screen and (min-width: 1200px){
    .container-xxl {
        position: absolute;
        width: 82.5% !important;
        right: 0;
        overflow: scroll;
    }

    .container-xxl > *, 
    .container-xxl .dashboard-button  {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}




/* Burger */
.hamburger-sidebar {
    position: fixed;
    top: 0;
    margin: 20px 0;
    z-index: 2;
}

.hamburger-sidebar.active i{
    color: white;
}

@media only screen and (min-width: 1200px){
    .hamburger-sidebar {
        display: none;
    }
}

.hamburger-sidebar i {
    color: #344799;
    font-size: 30px;
}





/* Overview */
@media only screen and (min-width: 1130px) {
    .container-xxl {
        height: 100%;
    }
}

@media only screen and (max-width: 750px) {
    .container-xxl {
        height: 100%;
    }
}
